@using catering.web.Data

@{
    var app = "EC's Catering Services";
}
<!DOCTYPE html>
<html ng-app="app">
<head>
    <base href="~/" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>@ViewData["Title"] - @app</title>


    <link rel="stylesheet" href="~/app/vendor-bundle.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/app/customer.css" asp-append-version="true" />
</head>
<body style="height:100vh; display:flex; flex-direction:column;">
    <div style="flex: 1 0 auto;">
        <div class="container-fluid bg-secondary">
            <header class="py-3" style="border-bottom: 1px inset silver;">
                <div class="row flex-nowrap justify-content-between align-items-center">

                    <div class="col-6 text-left text-white">
                        <a class="blog-header-logo text-white" href="@Url.Content("~/Home/Index")">
                            <h3>@app</h3>
                        </a>
                    </div>
                    <div class="col-6 d-flex justify-content-end align-items-center">

                        @if (!User.Identity.IsAuthenticated)
                        {
                            <a class="btn btn-sm btn-outline-light" href="@Url.Content("~/")Account/Login">
                                <span class="fa fa-fw fa-sign-in"></span>&nbsp;Sign In
                            </a>
                            <text>&nbsp;</text>
                            <a class="btn btn-sm btn-outline-light" href="@Url.Content("~/")Account/Register">
                                <span class="fa fa-fw fa-edit"></span>&nbsp;Register
                            </a>
                        }
                        else
                        {
                            <form method="post" action="@Url.Content("~/")Account/Logout">
                                @Html.AntiForgeryToken()
                                <button type="submit" class="btn btn-sm btn-outline-light">
                                    <span class="fa fa-fw fa-sign-out"></span>&nbsp;Sign Out
                                </button>
                            </form>
                        }
                    </div>
                </div>
            </header>
            <div class="nav-scroller py-2 mb-2">
                <nav class="nav d-flex justify-content-between">
                    <a class="p-2 btn-outline-light" href="@Url.Content("~/Home")">
                        <span class="fa fa-fw fa-home"></span>&nbsp;Home
                    </a>
                    <a class="p-2 btn-outline-light" href="@Url.Content("~/Packages")">
                        <span class="fa fa-fw fa-list-alt"></span>&nbsp;Packages
                    </a>
                    <a class="p-2 btn-outline-light" href='@Url.Content("~/Reservations")'>
                        <span class="fa fa-fw fa-cube"></span>&nbsp;Book Now
                    </a>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="p-2 btn-outline-light" href="@Url.Content("~/MyReservations")">
                            <span class="fa fa-fw fa-cubes"></span>&nbsp;My Reservations
                        </a>
                        @if (User.IsInRole(AppRoles.Administrator))
                        {
                            <a class="p-2 btn-outline-light" href="@Url.Content("~/Administrator")">
                                <span class="fa fa-fw fa-lock"></span>&nbsp;Administration
                            </a>
                        }
                    }

                </nav>
            </div>
        </div>

        <main ng-controller="mainController as $main" role="main" class="container-fluid" style="background-color:white;padding-top:5px; padding-bottom:5px;">
            @RenderBody()
        </main>
    </div>


    <footer class="blog-footer bg-secondary text-white" style="flex-shrink: 0; padding: 30px;">
        Contact #: 09876543322
        Email: catering@web.com
        Smart Padala: 18241629371236
        @*<p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@@mdo</a>.</p>
            <p>
                <a href="#">Back to top</a>
            </p>*@
    </footer>




    <script src="~/app/vendor-bundle.js" asp-append-version="true"></script>
    <script src="~/app/customer.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
